* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

/* Conteneur des documents */
#documentsContainer {
    display: flex;
    flex-wrap: wrap;
    /* Permettre aux cartes de documents de passer à la ligne si nécessaire */
    justify-content: space-around;
    /* Aligner les cartes au centre de la page */
    margin: 20px;
    /* Ajout de marges pour un meilleur espacement */
}

/* Carte de document */
.document-card {
    width: 300px;
    /* Largeur fixe pour chaque carte */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ajout d'une ombre pour un aspect tridimensionnel */
    margin: 10px;
    /* Ajout de marges entre les cartes */
    padding: 20px;
    /* Ajout de rembourrage à l'intérieur de chaque carte */
}

.document-card h3 {
    font-size: 1.2rem;
    /* Taille de la police pour le titre */
    font-weight: bold;
    /* Police en gras pour le titre */
    margin-bottom: 10px;
    /* Ajout d'une marge en bas pour séparer le titre du contenu */
}

.document-card p {
    font-size: 1rem;
    /* Taille de la police pour le contenu */
    color: #666;
    /* Couleur du texte légèrement plus sombre */
}

/* Lien pour afficher plus d'informations */
.document-card a {
    text-decoration: none;
    color: #007bff;
    /* Couleur du lien */
    font-weight: bold;
    /* Police en gras pour le lien */
}

.document-card a:hover {
    text-decoration: underline;
    /* Souligner le lien au survol */
}

@media (max-width: 768px) {
    .document-card {
        width: calc(50% - 20px);
        /* Afficher deux cartes par ligne sur les appareils plus petits */
    }
}

@media (max-width: 576px) {
    .document-card {
        width: calc(100% - 20px);
        /* Afficher une carte par ligne sur les appareils très petits */
    }
}